## Assignment 1

In [24]:
from neo4j import GraphDatabase
import pandas as pd
import numpy as np

***

In [15]:
class Neo4jConnection:
    
    # Create connection driver object
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
            print("Failed to create the driver:", e)
    
    # Close Connection
    def close(self):
        if self.__driver is not None:
            self.__driver.close()
    
    # Query database
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try: 
            session = self.__driver.session(database=db) if db is not None else self.__driver.session() 
            response = list(session.run(query))
        except Exception as e:
            print("Query failed:", e)
        finally: 
            if session is not None:
                session.close()
        return response

In [20]:
conn = Neo4jConnection(uri="bolt://localhost:7687", user="pythonuser", pwd="subatomic-shrank-Respond")

***

## Testing

In [30]:
query_string = "MATCH (n1)-[r]->(n2) RETURN r, n1.unitsInStock, n2.description LIMIT 25"
dtf_data = pd.DataFrame([dict(_) for _ in conn.query(query_string, db="neo4j")])
dtf_data.sample(10)

     r  n1.unitsInStock                                     n2.description
4   ()                0  Sweet and savory sauces, relishes, spreads, an...
11  ()               86                                            Cheeses
7   ()                6  Sweet and savory sauces, relishes, spreads, an...
8   ()               29                                     Prepared meats
22  ()               61                Breads, crackers, pasta, and cereal
15  ()               29                Desserts, candies, and sweet breads
24  ()               76                Desserts, candies, and sweet breads
2   ()               13  Sweet and savory sauces, relishes, spreads, an...
1   ()               17        Soft drinks, coffees, teas, beers, and ales
19  ()               40                Desserts, candies, and sweet breads